* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  height: 300vh;
}

.site-nav {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2000;
}

.home {
  background-image: url("../img/content-1.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.home-text {
  position: relative;
}

.home-text:before,
.home-text:after {
  content: "";
  display: block;
  position: absolute;
  background-color: transparent;
  pointer-events: none;
}

.home-text:before {
  top: 0;
  left: 0;
  right: 60%;
  bottom: 80%;
  border-top: 4px solid red;
  border-left: 4px solid red;
}

.home-text:after {
  top: 80%;
  left: 60%;
  right: 0;
  bottom: 0;
  border-bottom: 4px solid red;
  border-right: 4px solid red;
}

.border-left {
  border-left: 2px solid #f51c40;
  position: absolute;
  top: 50%;
  bottom: 0;
}

.progress-bg {
  position: absolute;
  bottom: 0px;
  right: 4%;
  background-repeat: no-repeat;
  background-position: bottom right;
  width: 150px;
  height: 150px;
  opacity: 0.2;
}

.weight-bg {
  position: absolute;
  bottom: 0;
  right: 4%;
  background-repeat: no-repeat;
  background-position: bottom right;
  width: 150px;
  height: 150px;
  opacity: 0.2;
}

.clipboard-bg {
  position: absolute;
  bottom: 0px;
  right: 100px;
  background-repeat: no-repeat;
  background-position: bottom right;
  width: 150px;
  height: 150px;
  opacity: 0.2;
}

.divider {
  width: 130px;
  border-bottom: 3px solid red;
  margin-bottom: 20px;
}

.about-us .container-fluid {
  background-image: url("../img/bg-1.png");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: bottom right;
}

.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: white;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
}

.slick-dots li button:before {
  content: "";
  width: 25px;
  height: 0px;
  border-bottom: 4px solid #e41c26;
}

.us-img {
  height: 100px;
}

.review-topBox {
  margin-top: -80px;
}

.big-video-container {
  position: relative;
}

.big-video-bg {
  background-image: url("../img/icon/strip-bg.png");
  background-size: cover;
}

.play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.video-title {
  display: inline;
  background-image: url("../img/icon/Videos-outline-text.svg");
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
}

.training-video-container {
  position: relative;
}
.training-video-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(100, 0, 0, 0.5);
  border-radius: 1.25rem;
}

.training-video-img {
  border-radius: 1.25rem;
}

.training-video-btn-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.training-video-btn {
  width: 75%;
}

.training-video-caption {
  max-width: 400px;
  position: absolute;
  bottom: 0;
  left: 50%;
  background-color: #fff;
  transform: translate(-50%, 50%);
  padding: 10px 15px;
  border-radius: 1.25rem;
  width: 60%;
  text-align: center;
}

.product-img {
  margin-top: -130px;
}
.product-container {
  margin-top: 150px;
  padding-bottom: 30px;
}

.blog-card-img {
  border-radius: 1.25rem;
}

.blog-card-date {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.contact-container {
  border-radius: 1.25rem;
}

.footer-social-icons .fa-2x {
  font-size: 1.5rem;
}

@media screen and (max-width: 1024px) {
  .home {
    background-image: url("../img/content-mobo-1.png");
    background-position: center;
  }
  .feature-card {
    width: 75% !important;
  }
}

@media screen and (max-width: 800px) {
  .home {
    background-image: url("../img/content-mobo-1.png");
    background-position: center;
  }
  .contact-title {
    font-size: 38px !important;
  }
  .contact-subtitle {
    font-size: 18px !important;
  }
  .contact-des {
    width: 80% !important;
  }
}

@media screen and (max-width: 480px) {
  .home {
    background-image: url("../img/content-mobo-1.png");
  }
  .about-us .container-fluid {
    background-size: 100%;
    background-position: top 18% right 0px;
  }
  .feature-card {
    width: 100% !important;
  }
  .mobo-review-text {
    width: 90% !important;
  }
  .play-btn img {
    width: 25% !important;
  }
  .carousel-video-caption {
    width: 80%;
    padding: 10px;
  }

  .training-video-caption {
    width: 80%;
  }
}
