* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 300vh;
}

.site-nav {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2000;
}

.home {
  background-image: url("../img/content-1.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.home-text {
  position: relative;
}

.home-text:before,
.home-text:after {
  content: "";
  display: block;
  position: absolute;
  background-color: transparent;
  pointer-events: none;
}

.home-text:before {
  top: 0;
  left: 0;
  right: 60%;
  bottom: 80%;
  border-top: 4px solid red;
  border-left: 4px solid red;
}

.home-text:after {
  top: 80%;
  left: 60%;
  right: 0;
  bottom: 0;
  border-bottom: 4px solid red;
  border-right: 4px solid red;
}

.border-left {
  border-left: 2px solid #f51c40;
  position: absolute;
  top: 50%;
  bottom: 0;
}

.progress-bg {
  position: absolute;
  bottom: 0px;
  right: 4%;
  background-repeat: no-repeat;
  background-position: bottom right;
  width: 150px;
  height: 150px;
  opacity: 0.2;
}

.weight-bg {
  position: absolute;
  bottom: 0;
  right: 4%;
  background-repeat: no-repeat;
  background-position: bottom right;
  width: 150px;
  height: 150px;
  opacity: 0.2;
}

.clipboard-bg {
  position: absolute;
  bottom: 0px;
  right: 100px;
  background-repeat: no-repeat;
  background-position: bottom right;
  width: 150px;
  height: 150px;
  opacity: 0.2;
}

.divider {
  width: 130px;
  border-bottom: 4px solid red;
  margin-bottom: 20px;
}

.about-us .container-fluid {
  background-image: url("../img/bg-1.png");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: bottom right;
}

@media screen and (max-width: 1024px) {
  .home {
    background-image: url("../img/content-mobo-1.png");
    background-position: center;
  }
  .feature-card {
    width: 75% !important;
  }
}

@media screen and (max-width: 800px) {
  .home {
    background-image: url("../img/content-mobo-1.png");
    background-position: center;
  }
}

@media screen and (max-width: 480px) {
  .home {
    background-image: url("../img/content-mobo-1.png");
  }
  .about-us .container-fluid {
    background-size: 100%;
    background-position: top 18% right 0px;
  }
  .feature-card {
    width: 100% !important;
  }
}
